@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}
h2,h3{
    margin:10px 0;
}
.player-container{
    width:400px;
    height:540px;
    background-color:#fff;
    border-radius:25px;
    box-shadow:0 40px 100px rgba(0,0,0,0.8);
}

.image-area{
    width:300px;
    height:300px;
    position: relative;
}

.image-area img{
    width:300px;
    height:300px;
    position: absolute;
    top:-50px;
    left:50px;
    border-radius:25px;

   
}

.bottom-side{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:20px;
}
.bottom-side #music-name,
#artist-name{
    padding-bottom:5px;
}

.duration-wrapper{
    width:300px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.duration-wrapper span{
    padding-bottom:3px;
}

.progress-container {
    background: #dedede;
    border-radius: 5px;
    margin:5px;
    height:4px;
    cursor: pointer;
    width: 90%;
  }

.progress{
    width:300px;
    height:100%;
    width:0;
    border-radius:25px;
    background-color: #ffc500;
    transition: width .7s ease;
}
  


.player-controls{
    width:300px;
    height:60px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top:20px;
    /* Tam ortalanmadigi ucun margin verdim :) */
    margin-top:36px;
}
.player-controls i{
width:50px;
height:50px;
font-size: 36px;
}
.player-controls i:nth-child(2){
    font-size: 42px;
}
 #play{
     align-self: flex-start;
 }